html
  position relative
  min-height 100%

body
  padding 0
  margin-bottom 60px

a:hover
  text-decoration underline

.badge
  a
    color #ffffff
    &:hover
      color #c0c0c0

p
  line-height 24px
  margin-bottom 17px

table
  margin-bottom 15px

th, td
  border 1px dotted #ccc
  padding 5px 15px

th
  background-color #eee

div > p > img
  width 100%


.nav.subnav li
  &.active a
    border-left 3px solid #428bca
    margin-left -3px
  a
    padding 5px 5px

.nav > li > a > .glyphicon
  font-size 12px
  margin-left 6px

/* expanded rows in the resource panels */
.list-group
  span
    p
      margin-bottom 0px
      margin-top 5px

#raml2boot-menu
  a
    text-decoration none
    &:hover
      text-decoration underline
  ul
    list-style-type none
    margin 0
    padding 0
    > li
      margin-top 1em
    ul
      margin-left 1em
      > li
        margin-top 0.4em

/* footer of the resource panels */
.panel-footer
  padding 0px 20px 0px 0px
  text-align right
  a
    display block
    text-align right
    color #ADA9A9

.panel-warning
  .panel-footer
    background-color #fcf8e3

span.glyphicon.glyphicon-lock
  color #555
  margin-right: 10px;

.footer
  position absolute
  bottom 0
  width 100%
  height 60px
  padding-top 6px

  color #999
  background-color #f8f8f8
  border-top 1px solid #e7e7e7

  text-align center
  p
    margin 0
